langchain==0.2.14
langgraph==0.2.16
langchain-openai==0.1.22
langchain-community==0.2.12

openai==1.40.6

opencv-python==4.10.0.84
fer==22.5.1
numpy==1.26.4

sounddevice==0.4.7
librosa==0.10.2.post1
scipy==1.13.1

duckduckgo-search==5.3.1

python-dotenv==1.0.1
pydantic==2.8.2